/* background:linear-gradient(0deg,rgba(255, 255, 255, 0),#ffffff);
background: url(https://blog.futureseed.in/wp-content/uploads/2025/09/thanksgiving-feast-family-cooking-together-2048x1539.jpg) rgba(107, 170, 77, 0.4);
background-blend-mode:hard-light; */


body {
    margin: 0;
    font-family: Arial, sans-serif;
    color: #222;
    background-color: white;
    background-color: bisque;
}

/* ---------- Navbar ---------- */

header {
    /* height: 40vh;
    width: 100vw; */
    /* background-image: url("https://cdn.dribbble.com/userupload/16755520/file/original-42340ac794f992af86f079419ec67605.gif");
    background-position: 0px -500px; */

    background-size: cover;

    /* background-image: url("https://blog.futureseed.in/wp-content/uploads/2025/09/thanksgiving-feast-family-cooking-together-2048x1539.jpg");
    background-position: 0px -200px; */

}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    padding-right: 30px;
}

.logo-container {
    display: flex;
    align-items: center;
}

.logo-icon {
    height: 100px;
    width: 100px;
    object-fit: contain;
}

.logo a {
    text-decoration: none;
    font-weight: bolder;
    font-size: 40px;
    color: #ffffff;
    text-shadow: 0 3px 6px rgba(72, 72, 72, 0.5);
}

.logo-container:active {
    box-shadow: 0 3px 6px rgba(72, 72, 72, 0.5);
    border-radius: 30px;
}


.nav-tab-container {
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
    background-color: rgba(92, 92, 92, 0.200);
    border-radius: 30px;
    box-shadow: 0 3px 6px rgba(72, 72, 72, 0.5);
    backdrop-filter: blur(2px);

    position: fixed;
    /* position: sticky; */
    right: 26.7%;
    z-index: 2;
}


.nav-tab-container div {
    margin: 5px 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    height: 40px;
    width: 150px;
    /* width: 150%; */
    /* width: 1em; */
    /* box-shadow: 0 3px 6px rgba(0, 0, 0, 0.54); */
}


.nav-tab-container a {
    text-decoration: none;
    color: black;
    font-weight: 500;
}


.nav-tab-container .active {
    background-color: white;
}

.nav-tab-container div:active {
    /* color: #0a4eb3; */
    background-color: white;
}


.nav-tab-container div:hover {
    box-shadow: 0 3px 6px rgba(72, 72, 72, 0.5);
}

.noti-prof-container {
    display: flex;
    align-items: center;
    gap: 20px;

}

.notifications {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(92, 92, 92, 0.200);
    backdrop-filter: blur(2px);

    background-color: transparent;
}

.notifications span {
    color: black;

    color: transparent;
}

.notifications span:active {
    color: #0a4eb3;
}

.profile {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(92, 92, 92, 0.200);
    backdrop-filter: blur(2px);

    background-color: transparent;
}

.profile i {
    color: black;

    color: transparent;
}



.profile i:active {
    color: #0a4eb3;
}

.noti-prof-container div:active {
    background-color: white;
}


/* .noti-prof-container .active {
    background-color: white;
} */


.noti-prof-container div:hover {
    box-shadow: 0 3px 6px rgba(72, 72, 72, 0.5);
}



/* ---------- Open Recipes Card ---------- */

.open-card-container {
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 0px 20px;
    flex-wrap: wrap;
}

.open-card {
    width: 900px;
    /* height: 600px; */
    background: white;
    border-radius: 20px;
    /* border: 1px solid black; */
    padding: 10px;
    position: relative;
    overflow-y: auto;
    /* Enable vertical scrolling */


}

.open-card::-webkit-scrollbar {
    display: none;

}

.open-card .img-box {
    height: 400px;
    background-color: #5c5c5c72;
    border-radius: 20px;
    margin-bottom: 10px;
}



.open-card-container .open-card:hover {
    box-shadow: 0 3px 6px rgb(0, 0, 0);
}



.ingredients-instructions-container {
    display: flex;
    align-items: center;
    justify-content: center;

}

.ingredients-instructions-container>div {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    width: 900px;
    /* margin: 20px; */
    padding: 10px 0px;
    /* background-color: #5c5c5c72; */
    /* box-shadow: 0 3px 6px rgb(0, 0, 0); */
    border-radius: 20px;
    margin-bottom: 20px;

}

.ingredients-instructions>div {
    width: 50em;
    /* height: 90vh; */
    background-color: white;
    border-radius: 20px;
    padding: 10px;
    overflow-y: auto;
    /* Enable vertical scrolling */

}

.ingredients-instructions>div::-webkit-scrollbar {
    display: none;

}



/* .ingredients-instructions-container>div:hover {
    box-shadow: 0 3px 6px rgb(0, 0, 0);
} */

.ingredients-instructions>div:hover {
    box-shadow: 0 3px 6px rgb(0, 0, 0);
}


.ingredients  {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: inherit;
}

.ingredients div {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5px 5px;
    height: 30px;
    width: 150px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    background-color: rgba(92, 92, 92, 0.200);
    backdrop-filter: blur(2px);
    
}


.ingredients button {
    border: none;
    background-color: transparent;
    cursor: pointer;
}



.ingredients div:active {
    background-color: white;
}


.ingredients div:hover {
    box-shadow: 0 3px 6px rgba(72, 72, 72, 0.5);
}

.instructions  {
    display: flex;
    flex-direction: column;
    align-items: center;

}
.fav-bg {
    position: absolute;
    right: 25px;
    top: 20px;
    height: 40px;
    width: 40px;
    background-color: #5c5c5c72;
    border-radius: 30px;
}

.fav-bg,
.fav-bg a {
    display: flex;
    align-items: center;
    justify-content: center;
}

.fav-bg:hover {
    box-shadow: 0 3px 6px rgb(0, 0, 0);
}

.fav-bg:active {
    background-color: white;
}


path,
svg,
.fav-icon,
.fav-bg {
    color: black;
}



.click {
    height: 100px;
    background-color: red;
}


.back-fav-container {
    display: flex;
    align-items: center;
    justify-content: center;
    /* gap: 10px; */
    background-color: rgba(92, 92, 92, 0.200);
    border-radius: 30px;
    box-shadow: 0 3px 6px rgba(72, 72, 72, 0.5);

    margin: 20px;
    height: 50px;
    width: 360px;

    width: 180px;

}


.back-fav-container div {
    height: 40px;
    width: 170px;
    /* background-color: #ffffff; */
    /* border: 2px solid black; */
    border-radius: 20px;
    margin: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;

}

.back-fav-container a {
    color: black;
    font-weight: 500;
    text-decoration: none;
}

.back-fav-container div:hover {
    box-shadow: 0 3px 6px rgba(72, 72, 72, 0.5);
}

.back-fav-container div:active {
    background-color: white;
}


.ingredients li {
    margin: 15px;
}

.instructions p {
    margin: 15px;
}