/* background:linear-gradient(0deg,rgba(255, 255, 255, 0),#ffffff);
background: url(https://blog.futureseed.in/wp-content/uploads/2025/09/thanksgiving-feast-family-cooking-together-2048x1539.jpg) rgba(107, 170, 77, 0.4);
background-blend-mode:hard-light; */


body {
    margin: 0;
    font-family: Arial, sans-serif;
    color: #222;
    background-color: white;
    background-color: rgb(182, 183, 234);
    background-color: bisque;
    overflow-y: scroll;
}

/* ---------- Navbar ---------- */

header {
    /* height: 40vh;
    width: 100vw; */
    background-image: url("https://cdn.dribbble.com/userupload/16755520/file/original-42340ac794f992af86f079419ec67605.gif");
    background-position: 0px -500px;

    background-size: cover;

    background-image: url("https://blog.futureseed.in/wp-content/uploads/2025/09/thanksgiving-feast-family-cooking-together-2048x1539.jpg");
    background-position: 0px -200px;

    background-image: url("https://prtimes.jp/api/file.php?c_id=13629&t=animationGifImage&f=agd-13629-131-1.gif&img_id=1567151390557");
    background-position: center;

    background-image: url("https://i.pinimg.com/originals/d5/1d/02/d51d02b2ea1b9b19fe4cd8fcb7a81709.gif");
    background-position: 0px -500px;

}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    padding-right: 30px;
}

.logo-container {
    display: flex;
    align-items: center;
}

.logo-icon {
    height: 100px;
    width: 100px;
    object-fit: contain;
}

.logo a {
    text-decoration: none;
    font-weight: bolder;
    font-size: 40px;
    color: #ffffff;
    text-shadow: 0 3px 6px rgba(72, 72, 72, 0.5);
}

.logo-container:active {
    box-shadow: 0 3px 6px rgba(72, 72, 72, 0.5);
    border-radius: 30px;
}


.nav-tab-container {
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
    background-color: rgba(92, 92, 92, 0.200);
    border-radius: 30px;
    box-shadow: 0 3px 6px rgba(72, 72, 72, 0.5);
    backdrop-filter: blur(2px);

    position: fixed;
    /* position: sticky; */
    right: 26.7%;
    z-index: 2;
}


.nav-tab-container div {
    margin: 5px 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    height: 40px;
    width: 150px;
    /* width: 150%; */
    /* width: 1em; */
    /* box-shadow: 0 3px 6px rgba(0, 0, 0, 0.54); */
}


.nav-tab-container a {
    text-decoration: none;
    color: black;
    font-weight: 500;
}


.nav-tab-container .active {
    background-color: white;
}

.nav-tab-container div:active {
    /* color: #0a4eb3; */
    background-color: white;
}


.nav-tab-container div:hover {
    box-shadow: 0 3px 6px rgba(72, 72, 72, 0.5);
}

.noti-prof-container {
    display: flex;
    align-items: center;
    gap: 20px;

}

.notifications {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(92, 92, 92, 0.200);
    backdrop-filter: blur(2px);

    background-color: transparent;
}

.notifications span {
    color: black;

    color: transparent;
}

.notifications span:active {
    color: #0a4eb3;
}

.profile {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(92, 92, 92, 0.501);
    backdrop-filter: blur(2px);

    background-color: transparent;
}

.profile i {
    color: black;

    color: transparent
}



.profile i:active {
    color: #0a4eb3;
}

.noti-prof-container div:active {
    background-color: white;
}


/* .noti-prof-container .active {
    background-color: white;
} */


.noti-prof-container div:hover {
    box-shadow: 0 3px 6px rgba(72, 72, 72, 0.5);
}



/* ---------- Greeting ---------- */

.greet-search-container {
    padding: 20px;
    padding-bottom: 25px;
    padding-top: 10px;
}

.greet-text {
    font-family: monospace;
    font-size: 25px;
    color: black;
    /* text-shadow: 0 3px 6px rgba(72, 72, 72, 0.5); */
}

.ask {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 20px;
    color: black;
    /* text-shadow: 0 3px 6px rgba(72, 72, 72, 0.5); */
}

.search-bar-container {
    /* margin-top: 20px; */
    background-color: white;
    border-radius: 30px;
    padding: 10px 15px;
    display: flex;
    align-items: center;
    gap: 10px;
    /* box-shadow: 0 3px 6px rgb(0, 0, 0); */
    cursor: pointer;
}

.search-bar-container input {
    border: none;
    outline: none;
    flex-grow: 1;
    /* full lenth lelo isko badhakr */
    font-size: 16px;
}


.material-icons {
    color: black;
}


.search-bar-containers span:active {
    color: blue;
}

.search-bar-container:hover {
    box-shadow: 0 3px 6px rgb(0, 0, 0);
}

/* ---------- Categories ---------- */


.categories-container {
    display: flex;
    margin: 10px 20px;
}

.categories {
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
    background-color: rgba(92, 92, 92, 0.200);
    border-radius: 30px;
    box-shadow: 0 3px 6px rgba(72, 72, 72, 0.5);
}


.categories button {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5px 5px;
    height: 30px;
    width: 75px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    background-color: transparent;
}

.categories button a {
    color: black;
    text-decoration: none;
}

.categories .active {
    background-color: white;
}

.categories a:active {
    color: blue;
}

.categories button:active {
    background-color: white;
}

.categories button:hover {
    box-shadow: 0 3px 6px rgba(72, 72, 72, 0.5);
}

/* ---------- Popular Recipes ---------- */


/* ---------- Text ---------- */
.popular {
    text-align: center;
    margin-top: 20px;
    color: black;
}

.subtext {
    color: #666;
}

h2 {
    text-decoration: underline;
}

/* ---------- Popular Recipes Card ---------- */

.popular-card-container {
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 25px 20px;
    flex-wrap: wrap;
}

.popular-card {
    width: 250px;
    height: 300px;
    background: white;
    border-radius: 20px;
    /* border: 1px solid black; */
    padding: 10px;
    position: relative;
}

.popular-card p {
    height: 20px;
    width: 200px;
    overflow: hidden;
}


.popular-card .img-box {
    height: 140px;
    background-color: #5c5c5c72;
    border-radius: 20px;
    margin-bottom: 10px;
}

.popular-card button {
    /* width:100%; */
    width: 90%;
    background-color: #5c5c5c72;
    padding: 10px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    margin-top: 10px;

    position: absolute;
    bottom: 10px;
    /* right: 0px; */
    right: 15px;

}

.popular-card-container .popular-card:hover {
    box-shadow: 0 3px 6px rgb(0, 0, 0);
}

.popular-card button:hover {
    box-shadow: 0 3px 6px rgb(0, 0, 0);
}

/* .popular-card:hover {
    border: 1px solid black;
} */


.popular-card button:active {
    color: blue;
    background-color: white;
}



/* ---------- recommended Recipes ---------- */

/* ---------- Text ---------- */
.recommended {
    /* text-align: center; */
    padding-left: 20px;
    margin-top: 20px;
    color: black;
}

.recommended-subtext {
    color: #666;
}

/* ---------- recommended Recipes Card ---------- */

.recommended-card-container {
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 25px 40px;
    flex-wrap: wrap;
}

.recommended-card {
    width: 250px;
    height: 300px;
    background: white;
    border-radius: 20px;
    /* border: 1px solid black; */
    padding: 10px;
    position: relative;
}

.recommended-card .img-box {
    height: 140px;
    background-color: #5c5c5c72;
    border-radius: 20px;
    margin-bottom: 10px;
}

.recommended-card button {
    /* width:100%; */
    width: 90%;
    background-color: #5c5c5c72;
    padding: 10px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    margin-top: 10px;

    position: absolute;
    bottom: 10px;
    /* right: 0px; */
    right: 15px;
}

.recommended-card-container .recommended-card:hover {
    box-shadow: 0 3px 6px rgb(0, 0, 0);
}

.recommended-card button:hover {
    box-shadow: 0 3px 6px rgb(0, 0, 0);
}

/* .popular-card:hover {
    border: 1px solid black;
} */


.recommended-card button:active {
    color: blue;
    background-color: white;
}


/* .fav-icon {
    position: absolute;
    right: 25px;
    top: 20px;
    
} */

footer {
    display: flex;
    align-items: center;
    justify-content: center;
}



footer button {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5px 5px;
    height: 30px;
    width: 75px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    background-color: rgba(92, 92, 92, 0.200);
    backdrop-filter: blur(2px);
}

footer button:active {
    /* color: #0a4eb3; */
    background-color: white;
}


footer button:hover {
    box-shadow: 0 3px 6px rgba(72, 72, 72, 0.5);
}




.fav-bg {
    position: absolute;
    right: 25px;
    top: 20px;
    height: 40px;
    width: 40px;
    background-color: #5c5c5c72;
    border-radius: 30px;
}

.fav-bg,
.fav-bg a {
    display: flex;
    align-items: center;
    justify-content: center;
}

.fav-bg:hover {
    box-shadow: 0 3px 6px rgb(0, 0, 0);
}

.fav-bg:active {
    background-color: white;
}


path,
svg,
.fav-icon,
.fav-bg {
    color: black;
}

/* %  100% mean uske liye jitna spce hai wo utna le lega */


.click {
    height: 100px;
    background-color: red;
}